<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anasayfa</title>
        <link rel="stylesheet" href="index.css">
    </head>

    <body>
        <div id="genelDiv">

            <header id="üst">

                <div id="giris">
                    <a href="/giris">
                        <button id="girisbuton"> 
                            <h1>Giriş</h1>
                        </button>
                    </a>
                </div>

                <div id="kayit">
                    <a href="/kayit">
                        <button id="kayitbuton"> 
                            <h1>Kayıt</h1>
                        </button>
                    </a>
                </div>

            </header>
            
            <nav id="menü">
                <ul>
                    <li><a href="/okullar">Okullar</a></li>
                </ul>
            </nav>

            <main id="main">

            </main>
        </div>  

        <script src="index.js"></script>

    </body>
</html>