<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Okullar</title>
        <link rel="stylesheet" href="okullar.css">
    </head>

    <body>

        <div id="genelDiv">

            <div class="container">
                <form action="" id="şehir">
                    Şehir: <select name="şehir" id="şehirler">
                        <option value="Ankara">Ankara</option>
                        <option value="İzmir">İzmir</option>
                        <option value="İstanbul">İstanbul</option>
                        <option value="Çorum">Çorum</option>
                        <option value="Çanakkale">Çanakkale</option>
                        <option value="Edirne">Edirne</option>
                    </select>
                    Okul Türü: <select name="okul" id="türler">
                        <option value="Devlet">Devlet</option>
                        <option value="Vakıf">Vakıf</option>
                    </select>
                    <button id="submit">Gönder</button>
                </form>
            </div>

            <div class="container">
                <a href="index.html"><button id="return">Geri Dön</button></a>
            </div>

        </div>

    </body>
</html>